[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
pytest-cov = "*"
mypy = "*"
flake8-isort = "*"
pep8-naming = "*"
flake8-bandit = "*"
safety = "*"
pre-commit = "*"
flake8-black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
